.collapsibleTree .node {
  cursor: pointer;
}

.collapsibleTree .node circle {
  fill: #fff;
  stroke: #000;
}

.collapsibleTree .node text {
  font: 10px sans-serif;
}

.collapsibleTree .link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

.collapsibleTree div.tooltip {
    position: absolute;
    text-align: center;
    padding: 3px;
    font: 10px sans-serif;
    background: #fff;
    border: 2px;
    border-radius: 8px;
    border-style: solid;
    pointer-events: none;
}
